/* Reset styles */


/* Global styles */

body {
    font-family: Arial, sans-serif;
    background: white;
    background-image: url("./CSS/images/Body-Background.jpg");
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}

.logo {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.logo img {
    height: 100px;
    width: 100px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.navbutton {
    background-color: #354779;
    border-radius: 15px;
    border: none;   
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    flex-shrink: 1;
    flex-basis: auto;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-form input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
}

.search-form button[type="submit"] {
    float: left;
    width: 20%;
    padding: 10px 0px;
    margin-right: 40px;
    background: #354779;
    color: white;
    font-size: 17px;
    line-height: 20px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.search-form button[type="submit"]:hover {
    background: #0b7dda;
}

main {
    background-color:blanchedalmond
}

.main-banner {
    width: 100vw;
    height: 200px;
    align-items: left;
    order: 1;
}

.main-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design-container {
    display: flex;
    width: 100%;
}

.design-item {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.design-item img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.design-item a {
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.design-link {
    display: inline-block;
    background-color: #354779;
    height: 50px;
    width: auto;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    flex-shrink: 1;
    flex-basis: auto;
}

.design-link:hover {
    background-color: #0b7dda;
}

.subscribe-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}

.subscribe-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.subscribe-container1 h2 {
    color: #354779;
}

.subscribe-container1 form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-container1 input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
}

.subscribe-container1 button[type="submit"] {
    float: left;
    width: 20%;
    padding: 10px;
    background: #354779;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.subscribe-container1 button[type="submit"]:hover {
    background: #0b7dda;
}

.subscribe-container1 button[type="submit"]::before {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 56%;
    right: 20px;
    transition: 0.5s;
}

.subscribe-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.subscribe-container2 h2 {
    color: #354779;
}

.tiers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tier {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid #354779;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.tier:hover {
    background-color: #f1f1f1;
}

.tier img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tier:hover img {
    opacity: 0.3;
}

.tier-button {
    background-color: #354779;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.tier-button:hover {
    background-color: #0b7dda;
}

footer {
    background-color: #354779;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: auto;
    }
}
